*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  color: #fff;
  background-color: #0f1011;
  overscroll-behavior: contain;
}

body {
  width: 100vw;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

h3 {
  font-size: 4.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1rem;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input[type='text'],
[type='number'] {
  width: 100%;
  padding: 0.9rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 0px;
  background-color: #1d1e1f;
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border: none;
  border-radius: 0px;
  background-color: #1d1e1f;
}

button {
  padding: 0 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 0px;
  background-color: #1d1e1f;
}

hr {
  /* left: 0;
  right: 0;
  border: 0.5px solid rgb(39, 39, 39);
  border-bottom: none; */
}

.hr-slider {
  left: 0;
  right: 0;
  border: 0.5px solid rgb(39, 39, 39);
  border-bottom: none;
}

.hr-indicator {
  width: 20%;
  border: none;
  height: 2px;
  color: #fff;
  background-color: #fff;
  position: absolute;

  margin-right: 2rem;
  top: 10.45rem;
}

.hr-todo {
  position: absolute;
  left: 0;
  right: 0;
  border: 0.5px solid rgb(39, 39, 39);
  border-bottom: none;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: -1.3rem;
}

.nav-app {
  position: fixed;
  padding: 2rem;
  width: 100vw;
}

.nav-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 6rem;
}

.nav-scroller {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.nav-indicator {
  height: 0.2rem;
  width: 20%;
}

.nav-indicator-active {
  background-color: #fff;
}

.button-delete {
  font-size: 2rem;
  background-color: #0f1011;
}

.checkbox-container {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  position: absolute;
  margin-top: 0.3rem;
  left: -1.5rem;
  height: 1rem;
  width: 2rem;
  border: 1px solid rgb(96, 96, 96);
  border-radius: 0px;
}
.checkbox::after {
  content: ' '; /* Unicode character for checkmark */
  font-size: 16px;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.8rem;
  transform: scale(0);
  transition: transform 0.05s ease;
}

input[type='checkbox']:checked + .checkbox::after {
  transform: scale(1);
  height: 1rem;
  background-color: #fff;
}

.components {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  /* overflow-x: auto; */
  /* overscroll-behavior-inline: contain; */
  /* overflow: auto; */
  height: 100vh;
}

.component-card {
  margin-top: 16rem;
  width: 100%;
  padding: 2rem;
}

.container {
  width: 100%;
}

.component-title {
  margin-bottom: 2.5rem;
}

.todo-form-title {
  padding-bottom: 0.5rem;
}

.todo-form {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-bottom: 6rem;
}

.todo-input-qty {
  width: 25%;
}

.todo-list {
  font-size: 1.4rem;
  font-weight: 400;
  padding-left: 1.5rem;
}

.footer-stats {
  margin-top: 6rem;
}

/* test */
.snaps-inline {
  scroll-snap-type: inline mandatory;
  /* scroll-padding-inline: 1rem; */
}

.snaps-inline > * {
  scroll-snap-align: start;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* display: none; */
}
